body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
.orange{
    color: rgb(81, 255, 0);
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 5%;

}
.half-width img{
    width: 100%;
}
.link-button{
    text-decoration: none;
    background-color: rgb(19, 255, 117);
    padding: 10px 40px;
    border-radius: 10px;
    background-image:linear-gradient(rgb(56, 255, 56), rgb(89, 255, 153)) ;
    font-weight: 900;
    color: rgb(0, 0, 0);
}
.top-banner{
    background-image: url(top-banner.png);
    background-repeat: no-repeat;
}